.search_bar {
  width: 80%;
  max-width: 800px;
  height: 6vh;
  border-radius: 10px;
  margin: 5vh auto 2vh;
  border: 1.5px solid #555;
  .form {
    width: 100%;
    height: 100%;
    background-color: var( --bg_transparent);
    border-radius: 10px;
    .input {
      width: 84%;
      height: 6vh;
      background: transparent;
      border-radius: 10px;
      border: none;
      outline: none;
      color: var(--white);
      padding: 0 20px;
    }
    input::placeholder {
      color: var(--white);
    }
    i {
      width: 16%;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 10px;
      color: white;
    }
  }
}
